body {
  margin: 0;

  font: 16px/1.1 "Open Sans", sans-serif;
}

button {
  cursor: pointer;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 970px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.right {
  justify-content: end;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background: linear-gradient(0.2turn, #ddba9d, #9b7759);

  color: #eae0d5;
}

.navbar {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.navlist {
  display: flex;

  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 0.9rem;

  list-style-type: none;
}

.navlist-item {
  margin-right: 3rem;
}

.navlist-link {
  color: inherit;
  text-decoration: none;
}

#logo {
  font-size: 2rem;
  line-height: 1;
}

.call-btn {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 40px;
  background: #6c584c;
  color: #fff;
}


.home {
  flex-grow: 1;
}
.home-inner {
  box-sizing: border-box;
  height: calc(100vh - 8rem);
  padding-bottom: 3rem;
}

.main-heading {
  margin-top: 0;
  margin-bottom: 3rem;
  padding-top: 5rem;

  font-weight: 300;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: 0.1rem;
}

.controls {
  width: 5px;
  align-self: end;
}

.controls-item {
  height: 3rem;
  background: #fff;
  margin-bottom: .5rem;
  border-radius: 3px;
}

.controls-item.active {
  background-color: #606c38;
}
